#margin{
  margin: 0 auto;
  width: 504px;
  height: 400px;
  background-color: rgba(203, 196, 191, 0.4);
  border: 1px solid black;
}
.head{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  float: left;
  background-color: rgb(241, 255, 230);
  border: 1px solid black;
  border-left: none;
  border-top: none;
}
.head:hover{
  text-decoration: underline;
}
.head:last-of-type{
  border-right: none;
}
.content{
  text-align: center;
  width:504px;
  height: 299px;
  /*border-bottom: 1px solid black;*/
  float: left;
  display: none;
}
